body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

header, nav, footer, section, div, article {
  box-sizing: border-box;
}

body, p, h1 {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
}

.header-pagina {
  width: 100%;
  height: auto;
  background-color: #42b2cc;
}

.titulo-pagina {
  text-align: center;
  color: #FFF;
  padding: 1.5em;
  margin: 0;
  font-size: 3em;
}

.barra {
  width: 35px;
  height: 5px;
  background-color: #424242;
  margin: 6px 0;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

nav ul li {
  line-height: 25px;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 2px solid #42b2cc;
  text-align: left;
}

nav ul li:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #42b2cc;
}

nav {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  background-color: #FFF;
  font-size: 1em;
}

.header-menu {
  display: inline-block;
  padding: 16px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
}

.frases {
  background-color: #424242;
  width: 100%;
}

.titulo-frase {
  padding-top: 16px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #42b2cc;
}

.descricao-frase {
  font-size: 1.2em;
  padding: 20px;
  text-align: left;
  font-weight:bold;
  color: #FFF;
}

footer {
  background-color: #42b2cc;
  color: #FFF;
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  font-weight: lighter;
  width: 100%;
  max-height: 200px;
}


/*Primeiro Breakpoint*/
@media screen and (min-width: 600px) {
  nav {
    max-height: 500px;
  }

  .titulo-pagina {
    font-size: 3.5em;
  }

  .header-menu {
    display: none;
  }
}

/*Segundo Breakpoint*/
@media screen and (min-width: 900px) {

  .container, footer {
    width: 800px;
    margin: 0 auto;
  }

  nav {
    width: 40%;
    float: left;
    height: 400px;
  }

  .frases {
    width: 60%;
    float: right;
    height: 400px;
  }

  nav ul li {
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    clear: both;
  }
}

/*Terceiro Breakpoint*/
@media screen and (min-width: 1200px) {
  .container, footer {
    width: 1000px;
  }
}
